<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>
<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredient_names %>
</p>
<p>
  <b>Description:</b>
  <%= @recipe.description %>
  <%= image_tag(@recipe.salad_pic_url) if @recipe.salad_pic? %>

</p>

<% if can? :update, @recipe %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
