<h1>Home#index</h1>

<%= link_to 'Ingredients', '/ingredients' %>
<%= link_to 'Recipes', '/recipes' %>

<%= form_tag search_path do %>
  <%= select_tag :ingredient_id,options_for_select(Ingredient.all.collect{|ingredient| [ingredient.name, ingredient.id]}) %>
  <%= submit_tag 'GO' %>

  <% end %> 
