<!DOCTYPE html>
<html>
<head>
  <title>Railsfood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">The Railsfood app</a>
      <ul class="nav">
        <li class="<%= 'active' if request.fullpath == '/ingredients'%>"><a href="/ingredients">Ingredients</a></li>
        <li class="<%= 'active' if request.fullpath == '/recipes'%>"><a href="/recipes">Recipes</a></li>
        <% if !current_user %>
          <li><%=link_to "Sign up", new_user_registration_path %></li>
          <li><%=link_to "Sign in", new_user_session_path %></li>
        <% else %>
          <li><%=link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
<footer>
  <div class="container">
    Rails Girls 2013
  </div>
</footer>
</body>
</html>

